// CONTENTS
// 0. SASS setup
// 1. Imports
// 2. Framework customisations
// 3. Site-wide / HTML elements
// 4. Blocks: BEM, OOCSS, DRY CSS
// 5. Page specific sections
// 6. Helper CSS style applicators
// 7. Media queries

// 0. SASS setup
// SASS setup - to be shared across components

// Colours
	// Darken / lighten levels increment by 5%
	// E.g. $color-dark-1: darken($color, 5%)
	// E.g. $color-dark-4: darken($color, 20%)
$asq-gold-highlight: #FFC63E;
	$asq-gold-dark-4: darken($asq-gold-highlight, 20%);
$blue-highlight: #4fa0e6;
	$blue-dark-4: darken($blue-highlight, 20%);
	$blue-dark-8: darken($blue-highlight, 40%);
$green-highlight: #24d124;
	$green-dark-4: darken($green-highlight, 20%);
$azure-highlight: #39bbbb;
	$azure-dark-4: darken($azure-highlight, 20%);
$yellow-highlight: #dedc4a;
	$yellow-dark-4: darken($yellow-highlight, 20%);
$red-highlight: #e02626;
$red-dark-4: darken($red-highlight, 20%);
$white-soft: #f7f7f7;
	// Black to white shades
$black-soft: #070707;
	$black-light-3: lighten($black-soft, 15%);
	$black-light-4: lighten($black-soft, 20%);
	$black-light-10: lighten($black-soft, 50%);
	$black-light-16: lighten($black-soft, 80%);
	$black-light-18: lighten($black-soft, 90%);
// Mixins
@mixin text-emphasis {
	font-weight: 900;
	letter-spacing: 2px;
	text-transform: uppercase;
}
@mixin collapsed-mask($fill) {
	@if $fill == '' or $fill < 0 or $fill > 100 {
		background: linear-gradient(to top, transparentize(#fff, 0) 20%, transparentize(#fff, 1) 75%);
	}
	@else {
		$fill_start: $fill * 0.15%;
		$fill_stop: $fill * 0.75%;
		background: linear-gradient(to top, transparentize(#fff, 0) #{$fill_start}, transparentize(#fff, 1) #{$fill_stop});
	}
	z-index: 1;
}
@mixin collapsed-toggle {
	.toggle {
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translate(-50%, 0);
		font-weight: 800;
		font-size: 24px;
		z-index: 2;
		&:before {
			content: 'More \25bc';
		}
	}
}
@mixin expanded-toggle {
	.toggle {
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translate(-50%, 0);
		font-weight: 800;
		font-size: 24px;
		z-index: 2;
		&:before {
			content: 'Less \25b2';
		}
	}
}
@mixin button-asq-gold-highlight {
	background-color: $asq-gold-highlight;
	&:hover, &:active, &:focus {
		background-color: $asq-gold-dark-4 !important;
	}
}
@mixin button-blue-highlight {
	background-color: $blue-highlight;
	&:hover, &:active, &:focus {
		background-color: $blue-dark-4;
	}
}
@mixin button-green-highlight {
	background-color: $green-highlight;
	&:hover, &:active, &:focus {
		background-color: $green-dark-4;
	}
}
@mixin button-azure-highlight {
	background-color: $azure-highlight;
	&:hover, &:active, &:focus {
		background-color: $azure-dark-4;
	}
}
@mixin button-red-highlight {
	background-color: $red-highlight;
	&:hover, &:active {
		background-color: $red-dark-4;
	}
}
@mixin button-yellow-highlight {
	background-color: $yellow-highlight;
	&:hover, &:active, &:focus {
		background-color: $yellow-dark-4;
	}
}
@mixin square-price-movement-small {
	.square-price-movement {
		.square-icon {
			width: 16px;
			margin-right: 3px;
		}
		.price {
			font-size: 16px;
		}
		.price-movement {
			font-size: 14px;
			* {
				margin-top: 0;
				margin-bottom: 0;
			}
			.percentage {
				margin-right: 3px;
			}
		}
	}
}
@mixin button-dropdown-modifier($color, $font-size, $font-weight) {
	&.dropdown-toggle + .dropdown-menu {
		background-color: $color;
		.divider {
			background-color: $black-soft;
		}
		> li {
			> a {
				font-size: $font-size;
				font-weight: $font-weight;
				color: $black-soft;
			}
		}
	}
}
@mixin stat-emphasis {
	font-weight: 800;
	font-size: 24px;
}
@mixin investment-summary-card {
	thead {
		tr {
			th {
				&.investment-name {
					font-size: 21px;
				}
			}
		}
	}
	tbody {
		tr {
			td {
				&.stat {
					@include stat-emphasis;
				}
			}
		}
	}
}
@mixin wallet-portfolio-summary-cards {
	.link-container {
		text-align: center;
		.btn {
			margin: 10px 0;
			&:first-child {
				margin-top: 15px;
			}
			&:last-child {
				margin-bottom: 15px;
			}
		}
	}
	thead {
		tr {
			th {
				&.investment-name {
					font-size: 36px;
				}
			}
		}
	}
	tbody {
		tr {
			&:last-child {
				background-color: transparent !important;
			}
		}
	}
}
@mixin margin-bottom-default-spacer {
	margin-bottom: 14px;
}

// 1. Imports
// Body text
@import './styles/shared.scss';
@font-face {
	font-family: 'Avenir';
	src: url(./fonts/AvenirLTStd-Book.otf);
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir';
	src: url(./fonts/AvenirLTStd-BookOblique.otf);
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'Avenir';
	src: url(./fonts/AvenirLTStd-BookOblique.otf);
	font-weight: 500;
	font-style: oblique;
}
// Headings
@font-face {
	font-family: 'Avenir';
	src: url(./fonts/AvenirLTStd-Heavy.otf);
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir';
	src: url(./fonts/AvenirLTStd-HeavyOblique.otf);
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: 'Avenir';
	src: url(./fonts/AvenirLTStd-HeavyOblique.otf);
	font-weight: 800;
	font-style: oblique;
}
// Extra emphasis
@font-face {
	font-family: 'Avenir';
	src: url(./fonts/AvenirLTStd-Black.otf);
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir';
	src: url(./fonts/AvenirLTStd-BlackOblique.otf);
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: 'Avenir';
	src: url(./fonts/AvenirLTStd-BlackOblique.otf);
	font-weight: 900;
	font-style: oblique;
}

// 2. Framework customisations
table {
	border-radius: 5px;
	border-collapse: collapse;
	border-style: hidden; /* hide standard table (collapsed) border */
	box-shadow: 0 0 0 1px $black-light-10; /* this draws the table border  */
	thead {
		tr {
			border-collapse: collapse;
			border-style: hidden; /* hide standard table (collapsed) border */
			th {
				font-size: 18px;
				border: 0;
				border-collapse: collapse;
				border-style: hidden; /* hide standard table (collapsed) border */
			}
		}
	}
	tbody {
		tr {
			border-collapse: collapse;
			border-style: hidden; /* hide standard table (collapsed) border */
			td {
				border: 0;
				border-collapse: collapse;
				border-style: hidden; /* hide standard table (collapsed) border */
			}
		}
	}
}
// Forms
form {
	padding: 20px;
	border-radius: 5px;
	border: 1px solid $black-light-10;
}
.has-feedback label~.form-control-feedback {
	top: 22px;
}
.has-success .input-group-addon, .has-warning .input-group-addon, .has-error .input-group-addon {
	background-color: transparent;
}
// Buttons
.btn, .btn-default, .btn-primary, .btn-success, .btn-info, .btn-warnig, .btn-danger {
	&:focus, &:active, &:hover {
		outline: 0;
	}
	background-color: $black-light-18;
	outline: 0;
	text-transform: uppercase;
	font-weight: 900;
	color: $black-soft;
	font-size: 18px;
	padding: 7px 30px 4px;
	border: 0;
}
.btn-asq-gold, .open .btn-asq-gold.dropdown-toggle {
	@include button-asq-gold-highlight;
	@include button-dropdown-modifier($asq-gold-highlight, 16px, 800);
}
.btn-primary {
	@include button-blue-highlight;
	@include button-dropdown-modifier($blue-highlight, 16px, 800);
}
.btn-success {
	@include button-green-highlight;
	@include button-dropdown-modifier($green-highlight, 16px, 800);
}
.btn-info {
	@include button-azure-highlight;
	@include button-dropdown-modifier($azure-highlight, 16px, 800);
}
.btn-warning {
	@include button-yellow-highlight;
	@include button-dropdown-modifier($yellow-highlight, 16px, 800);
}
.btn-danger {
	@include button-red-highlight;
	@include button-dropdown-modifier($red-highlight, 16px, 800);
}
.btn-link {
	background-color: transparent;
	color: $blue-highlight;
	&:hover, &:active, &:focus {
		color: $blue-dark-4;
	}
}
.btn-lg {
	font-size: 20px;
	min-width: 220px;
}
.btn-sm {
	font-size: 16px;
	padding: 5px 15px 2px;
}
.btn-xs {
	font-size: 14px;
	padding: 3px 10px 1px;
}
.btn-transparent, .open .btn-transparent, .btn-transparent.navbar-brand  {
	&.dropdown-toggle {
		min-width: auto;
		padding-left: 0;
		padding-right: 0;
		color: $white-soft;
		background-color: transparent !important;
		j:hover, &:focus, &:active {
			color: $black-light-16;
			background-color: transparent !important;
		}
	}
	background-color: transparent !important;
}
.dropdown-toggle + .dropdown-menu {
	border: 0;
	border-radius: 4px !important;
	background-color: $black-light-18;
	.divider {
		background-color: $black-soft;
	}
	> li {
		> a {
			font-size: 16px;
			font-weight: 800;
			color: $black-soft;
		}
	}
}
// Navbar
.navbar {
	border: 0;
	border-radius: 0;
	padding: 8px 0 10px;
	.logo {
		max-height: 100%;
	}
}
.navbar-inverse .navbar-nav > li {
	padding: 18px 15px 10px 15px;
	&> a {
		color: $white-soft;
		&:focus, &:hover {
			color: lightgray;
		}
		padding: 0;
	}
	&>.dropdown-menu a {
		text-transform: none !important;
	}
}
.nav > li > a:focus, .nav > li > a:hover {
	.btn-transparent, .open .btn-transparent {
		&.dropdown-toggle {
			min-width: auto;
			padding-left: 0;
			padding-right: 0;
			color: $white-soft !important;
			background-color: transparent !important;
			&:hover, &:focus, &:active {
				color: $black-light-16 !important;
			}
		}
		background-color: transparent !important;
	}
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	color: $asq-gold-highlight;
	background-color: transparent;
}
.navbar-inverse .navbar-nav>.open>a {
	background-color: transparent !important;
}
// Alerts
.alert {
	color: $black-soft;
	font-size: 16px;
	font-weight: 800;
	border: 0;
}
.alert-success {
	background-color: $green-highlight;
}
.alert-info {
	background-color: $blue-highlight;
}
.alert-warning {
	background-color: $yellow-highlight;
}
.alert-danger {
	background-color: $red-highlight;
}
// Modal
.modal-content {
	color: $black-soft;
}

// 3. Site-wide / HTML elements
body {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	line-height: 1.25;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 800;
}
a, button {
	text-decoration: none !important;
	outline: 0;
}
// Helper CSS style applicators
.asq-gold-highlight {
	color: $asq-gold-highlight;
}
.blue-highlight {
	color: $blue-highlight;
}
.red-highlight {
	color: $red-highlight;
}
.text-emphasis {
	@include text-emphasis;
}
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

// 4. Blocks: BEM, OOCSS, DRY CSS

// 5. Page specific sections

// 6. Helper CSS style applicators

// 7. Media queries
